@import "styles/settings/__settings";

.postCard {
  position: relative;
  padding: 1.2em;
  color: inherit;
  text-align: left;
  text-decoration: none;
  background-color: #fff;

  & > a {
    display: block;
    color: inherit;
    text-decoration: none;

    &:hover {
      h3 {
        // color: $color-primary;
        text-decoration: underline;
      }
    }
  }
}

.postCardSticky {
  border: solid 0.02em $color-gray-100;
  border-radius: 1em;

  svg {
    position: absolute;
    top: 1.2em;
    right: 1em;
    font-size: 1.15em;
    color: $color-gray-300;
  }
}

.postCardTitle {
  margin: 0 0 1em 0;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 600;
}

.postCardContent {
  font-size: 1em;
  margin: 0;
  margin-bottom: 1em;
  color: #616161;
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postCardMetadata {
  margin: -0.8em -0.8em 0.4em;
}

.postCardFeatureImage {
  margin: 0 0 2em;

  & > div {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 52.0833333333%;
    transition: all .3s ease;
    background-color: transparent;
    border-radius: 0.6em;
    overflow: hidden;
    margin: 0;

    & > img { 
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 0;
      padding: 0;
      margin: auto;
      background-color: #fff;
    }
  }
}